*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    background-color: antiquewhite;
    margin: 30px;
    position: relative;
}
.content{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    top: 0;
    right: 0;
}
.cont2{
    border: 2px solid black;
    width: 250px;
    height: 250px;
}