*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.boxmodel{
    background-color: tomato;
}
div.box{
    background-color: antiquewhite;
}
div.box{
    margin: 10px 15px 20px 25px;
    border:5px dashed black;
}
.boxmodel{
    width: 100px;
    height: 100px;
    padding: 50px;
}